.button {
    border-radius: 99999rem;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none !important;
    font-weight: 600;
    padding: 1rem 2rem;
    min-width: 200px;
    text-align: center;
    outline: none;
    border-width: 2px;
    border-style: solid;
}

.button--primary {
    color: #11111F;
    border: 2px solid transparent;
    background-color: #FFFFFF;
    box-shadow: 0 5px 0 rgba(17, 17, 31, 0.25);
    
    &:hover, &:focus {
        background: $yellow;
        color: white;
        &, &.bordered {
            border-color: transparent;
        }
        
    }
    &:active {
        box-shadow: none;
        transform: translateY(5px);
    }
    
    &.bordered {
        border-color: #11111F;
    }
}

.button--alt {
    color: black;
    background: transparent;
    border-color: currentColor;
    
    &:hover, &:focus {
        background: $yellow;
        color: white;
        border-color: $yellow;
        
    }
}


.button--reduced {
    min-width: auto;
    padding: 0.5rem 1rem;
    font-weight: 300;
}

