.footer {
    background: linear-gradient(to bottom, rgba(221, 221, 221, 0.5) 0%, rgba(221, 221, 221, 0.1) 5%, transparent 10%);
    color: #11111F;
    padding-top: 4rem;
    width: 100%;

    h6 {
        text-transform: uppercase;
        margin-bottom: 2rem;

    }




    .menu {

        ul {
            list-style-type: none;
            padding-left: 0;

            li {
              a {
                            
                line-height: 2rem;
                text-decoration: none;
              }
            }

        }
    }

      .downloads {
          a {
              width: 10rem;
              height: auto;
              display: inline-block;

              img {
                  display: block;
                  width: 100%;
                  height: auto;
              }

          }

      }

    .legal {
          
        ul {
            
            list-style-type: none;
            padding-left: 0;
            display: inline-block;

            li {
                            
                display: inline-block;
                &:not(:last-child) {

                  margin-right: 1.5rem;
                }
                font-size: 0.75rem;

                a {
                                    
                    line-height: 2rem;
                    text-decoration: none;
                }

            }

        }
    }


    nav {
        section {
            &:not(:last-child) {

                border-bottom: 1px solid lightgray;
            }
            header {

                cursor: pointer;
                padding: 1.7rem 0;
                * {
                    margin: 0;
                    pointer-events: none;
                }


                &.active {
                    svg {
                        transform: rotate(180deg);
                    }
                    & + ul {
                        display: block;
                    }
                }

            }
            
            ul {
                display: none;
            }
            @include media-breakpoint-up(md) {
                &:not(:last-child) {

                    border: none;
                }
                header {
                    padding-top: 0;
                    cursor: auto;
                }
                svg {
                    display: none;

                }
                ul {
                    display: block;
                }
            }
        }
    }

}