.hero {
    background: #FBCE3B;

    a {
        &:hover {
            color: white;
        }
    }
}

.hero__button {
    &:hover, &:focus {
        background: black;
        color: white;
    }
}