.textbox {
    outline: none;
    font-size: 1rem;
    min-height: 55px;
    padding: 1rem 1.5rem;
    border: 0;
    border-radius: 0.5rem;
    box-shadow: inset 0 2px 0 0 rgba(17, 17, 31, 0.25);
    transition: box-shadow 500ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 100%;
    color: #11111F;

    &:focus {
        box-shadow: none;
    }
}

.checkbox {

    input[type="checkbox"] {
    
      position: absolute;
      opacity: 0;
      left: 12px;
      top: 12px;
    
      &:checked ~ .circle {
          opacity: 1;
      }
    }
    
    .circle {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      margin: 0;
      transition: all 0.3s ;
      opacity: 0.2;
      border: 2px solid currentColor;
      border-radius: 100%;
    }
    
    
    label {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: left;
      cursor: pointer;
      margin-bottom: 0;
    }
    
    p {
        padding: 0;
        margin: 0;
        margin-left: 1rem;
    }
}