.why {

    [class|="col"] {
      margin-bottom: 1.5rem;
      img {
        max-width: 100%;
        margin-bottom: 1.5rem;
      }
    }
  }
  
  .way {
      border-bottom: 1px solid #F3F3F5;
      padding: 2.5rem 0;
  
      img {
        max-width: 100%;
      }
      p {
        margin-bottom: 0;
      }
  }

  img[alt^="Lyft"] {
  max-width: 100%;
}

img[alt="A car"] {
  max-height: 30rem;
  @media (max-width: 767px) {
    max-width: 100%;
  }
}