.navbar {
  background: white;
  border-bottom: 1px solid fade-out($color: $yellow, $amount: 0.8);
  width: 100%;
  top: 0;
  z-index: 400;

  

  .container {
    height: 5rem;
  }

  
  .navbar__logo {
    border-color: transparent !important;
    position: relative;
    padding-right: 1.5rem;
    
    svg, img {
      vertical-align: middle;
      color: $yellow ;
      width: 5.5rem;
      height: auto;
      
      @include media-breakpoint-up(md) {
        width: 7rem;

      }
    }
  }
  .router-link-active {
    color: black;
  }
}

.navbar__navigation {
  justify-content: flex-end;
  align-items: center;
  .button--alt {
    font-size: 0.7rem;
    
    @include media-breakpoint-up(md) {
      font-size: 1rem;
  
    }
  }
  
  ul {
    display: none;

    margin-bottom: 0;
    height: 100%;
    padding: 0;
    list-style-type: none;

    li {
      padding: 0 1.5rem;
      &:last-child {
        padding-right: 0;
      }

      a {
        text-decoration: none;
        color:$yellow;
        &:hover,&:focus {
          color: $dark;
        }
      }
    }
    @include media-breakpoint-up(md) {
      display: flex;
    }
  }
  
    

}

.navbar--fixed {
  position:fixed;
  border: none; 
  background-color: transparent;
  background-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.15));
  color: white;

  
  .navbar__navigation {
    .button--alt {
      &:hover,&:focus {
        color: white;
      }
    }
    a {
      text-decoration: none;
      &:hover, &:focus {
        color: $yellow;
      }
      &:not(:hover) {
        
        color: currentColor;
      
      }
      
    }
  }
  
  .navbar__toggle {
    color: white;
  }
}

.navbar__toggle {
  display: inline-block;
  color: black;
  
  @include media-breakpoint-up(md) {
    display: none;
  }
}



.navbar__menu {
  overflow: auto;
  background: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 400;
  transition: transform .3s ease-in;
  transform: translateY(-100%);

  ul {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem 0;
    list-style-type: none;

    li {
      a {
        display: block;
        height: 100%;
        padding: 1rem 0;
        text-decoration: none;
        color: $yellow;
        &:hover, &:focus {
          color: $yellow;
        }
      }
      &:not(:last-child) {
        border-bottom: 1px solid grey;
      }
    }
  }

  &.show {
    transform: translateY(0);
  }

  .close {
    font-size: 2.5rem;
    font-weight: 300;
  }
}
