// @font-face {
//   font-family: Lyft Pro;
//   src: url(https://cdn.lyft.com/tetris/lyftpro-light.7ac514d5.woff2) format("woff2"),
//     url(https://cdn.lyft.com/tetris/lyftpro-light.41b27365.woff) format("woff");
//   font-weight: 300;
//   font-style: normal;
// }
// @font-face {
//   font-family: Lyft Pro;
//   src: url(https://cdn.lyft.com/tetris/lyftpro-lightitalic.2cc76801.woff2) format("woff2"),
//     url(https://cdn.lyft.com/tetris/lyftpro-lightitalic.5fa815d1.woff) format("woff");
//   font-weight: 300;
//   font-style: italic;
// }
// @font-face {
//   font-family: Lyft Pro;
//   src: url(https://cdn.lyft.com/tetris/lyftpro-medium.751bb706.woff2) format("woff2"),
//     url(https://cdn.lyft.com/tetris/lyftpro-medium.eaace554.woff) format("woff");
//   font-weight: 500;
//   font-style: normal;
// }
// @font-face {
//   font-family: Lyft Pro;
//   src: url(https://cdn.lyft.com/tetris/lyftpro-mediumitalic.e4440a25.woff2) format("woff2"),
//     url(https://cdn.lyft.com/tetris/lyftpro-mediumitalic.0e958886.woff) format("woff");
//   font-weight: 500;
//   font-style: italic;
// }
// @font-face {
//   font-family: Lyft Pro;
//   src: url(https://cdn.lyft.com/tetris/lyftpro-semibold.c3e03127.woff2) format("woff2"),
//     url(https://cdn.lyft.com/tetris/lyftpro-semibold.034d3bf3.woff) format("woff");
//   font-weight: 600;
//   font-style: normal;
// }
// @font-face {
//   font-family: Lyft Pro;
//   src: url(https://cdn.lyft.com/tetris/lyftpro-semibolditalic.e1bfbe8e.woff2) format("woff2"),
//     url(https://cdn.lyft.com/tetris/lyftpro-semibolditalic.c15e72d7.woff) format("woff");
//   font-weight: 600;
//   font-style: italic;
// }
// @font-face {
//   font-family: Lyft Pro;
//   src: url(https://cdn.lyft.com/tetris/lyftpro-bold.be459b0a.woff2) format("woff2"),
//     url(https://cdn.lyft.com/tetris/lyftpro-bold.1b7c5e6e.woff) format("woff");
//   font-weight: 700;
//   font-style: normal;
// }
// @font-face {
//   font-family: Lyft Pro;
//   src: url(https://cdn.lyft.com/tetris/lyftpro-bolditalic.783b4233.woff2) format("woff2"),
//     url(https://cdn.lyft.com/tetris/lyftpro-bolditalic.616543e4.woff) format("woff");
//   font-weight: 700;
//   font-style: italic;
// }

.h1, h1 {
  letter-spacing: -0.15625rem;
  font-size: 3.75rem;
  line-height: 3.875rem;
  margin-bottom: 32px;
}

.h2, h2 {
  letter-spacing: -0.125rem;
  font-size: 3.125rem;
  line-height: 3.25rem;
}

.h2, .h3, h2, h3 {
  margin-bottom: 24px;
}

.h3, h3 {
  letter-spacing: -0.075rem;
  font-size: 2.5rem;
  line-height: 2.625rem;
}

.h4, h4 {
  letter-spacing: -0.0625rem;
  font-size: 1.875rem;
  line-height: 2.125rem;
}

.h4, .h5, h4, h5 {
  margin-bottom: 16px;
}

.h5, h5 {
  letter-spacing: -0.03125rem;
  font-size: 1.25rem;
  line-height: 1.625rem;
  font-weight: 500;
}

.h6, .h7, h6, h7 {
  letter-spacing: 0;
  font-size: 1rem;
  line-height: 1.25rem;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .h1, h1 {
    letter-spacing: -0.175rem;
    font-size: 5rem;
    line-height: 5.125rem;
  }
}

@media (min-width: 768px) {
  .h2, h2 {
    letter-spacing: -0.15625rem;
    font-size: 4rem;
    line-height: 4.125rem;
  }
}

@media (min-width: 768px) {
  .h3, h3 {
    letter-spacing: -0.1rem;
    font-size: 3rem;
    line-height: 3.125rem;
  }
}

@media (min-width: 768px) {
  .h4, h4 {
    letter-spacing: -0.0625rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

@media (min-width: 768px) {
  .h5, h5 {
    letter-spacing: -0.03125rem;
    font-size: 1.25rem;
    line-height: 1.625rem;
    font-weight: 500;
  }
}

@media (min-width: 768px) {
  .h6, .h7, h6, h7 {
    letter-spacing: 0;
    font-size: 1rem;
    line-height: 1.25rem;
  }
}

html {
  box-sizing: border-box;
}

*, :after, :before {
  box-sizing: inherit;
}

html {
  font-size: 14px;
}

body {
  // font-family: Lyft Pro, HelveticaNeue, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #373a3c;
  background-color: #fff;
  margin: 0;
}
input {
  font-family: inherit;
  font-weight: inherit;
}
.h1, .h2, .h3, .h4, .h5, .h6, .h7, h1, h2, h3, h4, h5, h6, h7 {
  margin-top: 0;
  font-weight: 600;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr {
  &[data-original-title], &[title] {
    cursor: help;
    border-bottom: 1px dotted #818a91;
  }
}

address {
  font-style: normal;
  line-height: inherit;
  margin-bottom: 1rem;
}

dl, ol, ul {
  margin-bottom: 1rem;
}

dl, ol, ul {
  margin-top: 0;
}

ol {
  ol, ul {
    margin-bottom: 0;
  }
}

ul {
  ol, ul {
    margin-bottom: 0;
  }
}

ol {
  padding-left: 1em;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

a {
  color: $dark;
  &:focus, &:hover {
    color: $yellow;
    text-decoration: underline;
  }
  &:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
}

[role="button"], button, input[type="button"] {
  cursor: pointer;
  color: inherit;
}

table {
  background-color: transparent;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #818a91;
  caption-side: bottom;
  text-align: left;
}

th {
  text-align: left;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button, input, select {
  margin: 0;
  line-height: inherit;
}

textarea {
  margin: 0;
  line-height: inherit;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
}

input[type="search"] {
  -webkit-appearance: none;
}

output {
  display: inline-block;
}