.phone-app-slider {
    position: relative;
    .slider.bg {
        height: 500px;
    }

    > .d-flex {
        position: absolute;
        top: 0;
    }

    .phone {
        position: relative;
        // background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 343px;
        height: 614px;
        padding: 72px 49px 112px 53px;

        @media screen  and (max-width: 320px) {
            padding: 72px 39px 113px 42px;


        }

    }
}