.blockquote {
    background: #F3F3F5;
    
    p {
        font-size: 36pt;
        font-weight: 300;
        line-height: initial;

        margin-bottom: 1.5rem;
        margin-top: 2.5rem;
    }
    span {
        font-weight: 500;
    }
}