<template>
    <section class="container py-5 my-5">
        <h1>Sobre nosotros</h1>
        <p>
            Sobre Nosotros  Konfor  es  una  plataforma  para  conectar  a  personas  que  buscan  servicios  de  mantenimiento del  hogar  y  empresas  con  prestadores  de  servicio  independientes  preseleccionados  de  alta calidad.  Desde  el  mantenimiento  de  aires  acondicionados,  averías  de  plomería  hasta  los servicios exteriores como fumigación y jardinería rutinaria, Konfor conecta instantáneamente a clientes con prestadores de servicio de primer nivel. Con un proceso de reserva sin problemas segundos, un pago seguro y respaldado por la Garantía Konfor, Konfor es la forma más fácil y conveniente de reservar servicios para el hogar y empresa.
        </p>
        <br>
        <h2 class="h3">NUESTRA HISTORIA</h2>
        <p>Konfor es fundado en 2019 como una solución práctica para un problema histórico: encontrar profesionales  altamente  calificados  y  efectivos  para  servicios  comunes  en  el  hogar.  Jose Domingo  Contreras  desde  muy  pequeño  mostro  intereses  por  los  negocios  y  la  innovación tecnológica.  Luego  de  acompañar  a  su  madre  a  trabajar  en  la  industria  de  construcción,  vio una necesidad insatisfecha en dicho mercado en cuanto a la conexión entre los prestadores de servicios  y  los  clientes,  así  como  también  deficiencias  en  el  área  de  ferretería.  Esto  lo  inspiro en   idealizar   un   nuevo   concepto   cambiaria   la   industria   radicalmente,   solucionando   los problemas mas graves y logrando un trabajo mas eficiente en el área.</p>
    </section>
</template>

<script>
export default {

}
</script>

<style>

</style>
