<template>
    <section class="container py-5 my-5">
        <h1 class="h2">TRABAJAR EN KONFOR</h1>
        <p> Con cada servicio, estamos redefiniendo la industria global de mantenimiento y construcción.</p>
        <p>Nuestra meta es un mundo donde todo este al alcance de la palma de tu mano. Donde la logística y la tecnología unifique recursos y personas en una sola comunidad y te necesitamos para lograrlo.</p>
        <p>Los desafíos que nos planteamos no son sencillos.  El proceso no siempre será cómodo o simple. Los miembros del equipo ideal de Konfor son personas proactivas, que puedan pensar en grande y liderar desde cualquier posición</p>
    </section>
</template>

<script>
export default {

}
</script>

<style>

</style>
