<template>
  <div>
    <!-- <MainNav/> -->
    <Hero message="Pide los servicios esenciales para tu empresa y agendalos a tu conveniencia"/>

    <section class="overflow-hidden py-5">
      <div class="container">
        <div class="d-flex flex-column-reverse flex-md-row align-items-center">
          <div class="col text-center mb-5" style="order:2">
            <img
              src="//images.ctfassets.net/q8mvene1wzq4/3kye3KvqYR13Vmsx2VMqyo/002bd8e30a8a26343846bf3bd2335e07/DL_car.png"
              alt="A car"
            >
          </div>
          <div class="col-9" style="order:1">
            <div class="row">
              <div class="col-lg mb-4">
                <div>
                  <h4>Manejar multiple Ubicaciones</h4>
                </div>
              </div>
              <div class="col-lg mb-4">
                <div>
                  <h4>Crear múltiple perfiles para sucursales</h4>
                </div>
              </div>
              <div class="col-lg">
                <div>
                  <h4>Aprobar y cancelar servicios remotamente</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="container mb-5">
      <h4>BENEFICIOS  </h4>
      <h5>Control</h5>
      <p>Establece cuándo y donde deseas solicitar servicios de mantenimiento para tus locales. </p>
      <h5>Transparencia</h5>
      <p>Conoce el precio y descripción de los trabajos antes de solicitarlos . Sin sorpresas.</p>
      <h5>Eficiencia</h5>
      <p>Automatiza toda la gestión de solicitudes en un centro de control fácil de usar.</p>
      <h5>Seguridad</h5>
      <p>Monitorea en tiempo real cualquier trabajo</p>
      <h5>Soporte</h5>
      <p>Puedes llamar a nuestro centro de servicio al cliente siempre que lo que necesites.</p>
    </section>

     <section id="ways-to-get-there">
      <div class="container">
        <div class="way">
          <div class="row flex-row">
            <div class="col col-md-3 col-lg-4 mr-md-5">
              <img
                src="../assets/img/GasPlumbing.jpg"
                alt="Lyft Shared ride illustration"
                class="_1rLEpE"
              >
            </div>
            <div class="col">
              <h3>Plomeria</h3>
              <h6></h6>
              <div>
                <p>
                  Instalar inodoros, bañeras, Lava manos, corregir
                  escapes de agua etc
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="way">
          <div class="row flex-row">
            <div class="col col-md-3 col-lg-4 mr-md-5">
              <img
                src="../assets/img/Electrical2.jpg"
                alt="Lyft illustration of a car with an Amp in the windshield"
                class="_1rLEpE"
              >
            </div>
            <div class="col">
              <h3>Electricista</h3>
              <h6></h6>
              <div>
                <p>Instalar equipos, Generadores, Restaurar electricidad etc.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="way">
          <div class="row flex-row">
            <div class="col col-md-3 col-lg-4 mr-md-5">
              <img
                src="../assets/img/Appliances.jpg"
                alt="Lyft Lux car illustration with an Amp in the windshield"
                class="_1rLEpE"
              >
            </div>
            <div class="col">
              <h3>Electrodomésticos</h3>
              <h6></h6>
              <div>
                <p>Instalar Pantallas, lavadoras, etc</p>
              </div>
            </div>
          </div>
        </div>
        <div class="way">
          <div class="row flex-row">
            <div class="col col-md-3 col-lg-4 mr-md-5">
              <img
                src="../assets/img/Painter.jpg"
                alt="Lyft Bikes and Lyft Scooters illustration"
                class="_1rLEpE"
              >
            </div>
            <div class="col">
              <h3>Pintura</h3>
              <h6></h6>
              <div>
                <p>Pintura profesional de interiores, objetos y superficies etc.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="way">
          <div class="row flex-row">
            <div class="col col-md-3 col-lg-4 mr-md-5">
              <img
                src="../assets/img/Jardineria.jpg"
                alt="Lyft Transit: Illustration of a city bus"
                class="_1rLEpE"
              >
            </div>
            <div class="col">
              <h3>Jardineria</h3>
              <h6></h6>
              <div>
                <p>Recorte de gramas etc</p>
              </div>
            </div>
          </div>
        </div>

        <div class="way">
          <div class="row flex-row">
            <div class="col col-md-3 col-lg-4 mr-md-5">
              <img
                src="../assets/img/Mosquito.jpg"
                alt="Lyft Transit: Illustration of a city bus"
                class="_1rLEpE"
              >
            </div>
            <div class="col">
              <h3>Exterminador/Control de pestes</h3>
              <h6></h6>
              <div>
                <p>
                  Fumigación, remover animales, exterminar mosquitos,
                  abejas etc
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="way">
          <div class="row flex-row">
            <div class="col col-md-3 col-lg-4 mr-md-5">
              <img
                src="../assets/img/TransportMat.jpg"
                alt="Lyft Transit: Illustration of a city bus"
                class="_1rLEpE"
              >
            </div>
            <div class="col">
              <h3>Transporte de materiales</h3>
              <h6></h6>
              <div>
                <p>
                  Todo material necesario para una obra debe ser transportado
                  desde la ferretería hasta el lugar del trabajo
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="way">
          <div class="row flex-row">
            <div class="col col-md-3 col-lg-4 mr-md-5">
              <img
                src="../assets/img/AC.jpg"
                alt="Lyft Transit: Illustration of a city bus"
                class="_1rLEpE"
              >
            </div>
            <div class="col">
              <h3>HVAC/Aires</h3>
              <h6></h6>
              <div>
                <p>Instalar, reemplazar y reparar todo tipo de aires simple y centrales</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Hero from "@/components/Hero.vue";
import Quote from "@/components/Quote.vue";
import MainNav from '@/components/MainNav.vue';

export default {
  components: {
    Hero,
    Quote,
    MainNav
  }
};
</script>

<style lang="scss" scoped>
.why {

  [class|="col"] {
    margin-bottom: 1.5rem;
    img {
      max-width: 100%;
      margin-bottom: 1.5rem;
    }
  }
}

.way {
    border-bottom: 1px solid #F3F3F5;
    padding: 2.5rem 0;

    img {
      max-width: 100%;
    }
    p {
      margin-bottom: 0;
    }
}
</style>
