<template>
  <div>
    <div class="intro">
      <section>
        <div class>
          <div class>
            <div class="call2action d-flex d-lg-none">
              <button 
                class="button button--primary driver-button" 
                @click="showHero('Agarra tus herramientas y gana mas desde ahora')"
              >
                ÚNETE COMO PRESTADOR
              </button>
              
              <button 
                class="button button--primary driver-button" 
                type="button" 
                @click="showHero('Cada servicio de Konfor requiere de materiales disponibles en la misma zona, Úne tu inventario y expande tus ventas ya!')"
              >
                ÚNE TU FERRETERIA
              </button>
            </div>
          </div>
          <div class="video">
            <div class="video__bg" style="background: url(//images.ctfassets.net/oqn5qhpsy9i3/5WsbbyGkOyIx7acqp3sZzN/9c5f2b3b0a9f9c14a5aeb5fb94d26540/previewMobile.jpg) center center / cover no-repeat;">
              <video autoplay loop playsinline>
                <source src="https://videos.ctfassets.net/oqn5qhpsy9i3/4LypTYVmrxLn9Vb9STV3Dk/25ca5ef44ed32fdf87fd8670b160eb03/desktop4.mp4" type="video/mp4">
              </video>
            </div>
          </div>
        </div>
      </section>

      <section class="why" >
        <div class="container d-flex justify-content-between align-items-center" >
            <button 
              class="bordered button button--primary driver-button d-none d-lg-block" 
              @click="showHero('Agarra tus herramientas y gana mas desde ahora')"
            >
              ÚNETE COMO PRESTADOR 
            </button>
            <button 
              class="bordered button button--primary driver-button d-none d-lg-block" 
              @click="showHero('Cada servicio de Konfor requiere de materiales disponibles en la misma zona, Úne tu inventario y expande tus ventas ya!')"
            >
              ÚNETE COMO DISTRIBUIDOR 
            </button>
        </div>
      </section>
    </div>

    <div id="hero">
      <HeroForm v-if="hero" :message="heroMessage" />
    </div>

    <section class="phone-app-slider">
        <div
          class="slider bg"
          style="background-image:url(//images.ctfassets.net/q8mvene1wzq4/5GjcNYZM40S9uQVoGrJ2og/812e7a8d642bd25637a9b81fad928a52/02-mode-selector-00-bg.png);background-position:center;background-repeat:no-repeat;background-size:cover"
        ></div>
        <div class="container py-5">
          <div class="py-5 my-4 d-md-none"></div>
          <div class="d-flex flex-column no-gutters flex-md-row justify-content-md-between">
            <div class="col-12 col-md-4">
              <h3>So many ways to get you there.</h3>
            </div> 
            <div class="col-12 col-md-4">
              <div>
                <h5>SWIPE TO CHOOSE YOUR STYLE.</h5>
                <div class="_2HEMIv">
                  <div class="_2cbjoY">
                    <p>
                      9 different ways* to get there — whether you want to go solo, share, or splurge. Ready to ride? Get a
                      <a
                        href="/rider/fare-estimate"
                      >fare estimate</a> before you go.
                    </p>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class=" d-flex justify-content-center pt-5 w-100">
            <div class="phone" style="background-image:url(https://cdn.lyft.com/brandfe/phone@1x.c7273ad8.png)">

              <div
                style="background-image:url(//images.ctfassets.net/q8mvene1wzq4/7aRMw70C1bTbMIw74533U7/5b6973d7ae3e2462442cb963ae078e9e/mode-selector-en.gif)"
                class="h-100 w-100 bg-cover"
                title="Konfor app map"
              ></div>
              <div class="slick-initialized slick-slider _1GXO7I _3fkLet">
                <div class="slick-list">
                  <div class="slick-track" style>
                    <div
                      class="slick-slide slick-active slick-current _1GXO7I _3fkLet"
                      data-index="0"
                      tabindex="-1"
                    >
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>
  </div>
</template>

<script>
// @ is an alias to /src
import HomeIntro from "@/components/HomeIntro.vue";
import MainNav from "@/components/MainNav.vue";
import HeroForm from '@/components/HeroForm.vue';
import { setTimeout } from 'timers';

export default {
  name: "home",
  components: {
    HomeIntro,
    MainNav,
    HeroForm
  },

  methods: {
    showHero: function (message) {
      this.hero = true;
      this.heroMessage = message;
      setTimeout(() => {
        document.getElementById("hero").scrollIntoView();
      }, 50)
    }
  }

  ,data() {
    return {
      hero: false,
      heroMessage: "",
    }
  }
};
</script>


<style lang="scss" scoped>
.intro {
  display: flex;
  height: 100vh;
  min-height: 600px;
  flex-direction: column;


  }


    section:first-child {
      position: relative;
      flex: 2;
    }
  
    .call2action {
      position: absolute;
      width: 100%;
      bottom: 2rem;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      left: 0;
      z-index: 100;
  
      .driver-button {
        margin: 2rem auto;
  
      }

      .rider-button {
        font-size: 1rem;
        font-weight: 600;
        text-decoration: underline;
        color: #FFFFFF;
          cursor: pointer;
          background: transparent;
          border: none;
          box-shadow: none;
      }
    }
  .video {
    
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    .video__bg {
      height: 100%;
      width: 100%;
      overflow: hidden;
      display: flex;
      z-index: 0;

      video {
        min-height: 100%;
        min-width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
        flex: 1;
      }
    }
  }


section:last-child {
      padding: 16px 0;
      align-items: center;



      a {
        font-weight: 600;
      }

}
</style>