<template>
  <div>
    <!-- <MainNav/> -->
    <section class="hero" style="styles">
      <div class="container py-5">
        <div class="col-lg-11 py-5">
          <h1>Se tu propio jefe</h1>
          <form class>
            <div class="d-flex flex-column flex-md-row align-items-md-center">
              <div class="mb-3 mb-md-0">
                <button type="submit" class="button button--primary hero__button mr-4">REGISTRATE</button>
              </div>
              <!-- <Checkbox>I agree to Lyft's <a href="/terms">Terms of Service</a></Checkbox> -->
            </div>
          </form>
        </div>
      </div>
    </section>

    <section class="why py-5">
      <div class="container py-5">
        <div class="row">
          <div class="col-lg-3">
            <img
              src="//images.ctfassets.net/q8mvene1wzq4/3BNkCesPbWFrIAAo7Ue51b/e1efc7f925bb00c902904291d33c8196/01-001-options_2x.png"
              alt="Car icon"
            >
            <div>
              <h4>Choose from so many options</h4>
              <div>
                <p>
                  Shared rides, scooters, fancy cars, public transit — there’s lots to do in
                  <a
                    href="/rider/cities"
                  >your city</a>, and we’ve got the rides to help you enjoy it all. Our
                  <strong>9 different options</strong> suit your needs and mood. Have surprise guests? Gotta impress a VIP? Just. Need. Space? You can get a ride for that, too.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 mx-lg-5">
            <img
              src="//images.ctfassets.net/q8mvene1wzq4/51RNVr7CqNCe8H2qLTImAB/cdb4075f78ad11fd8e7020a0046be60f/01-002-time_2x.png"
              alt="Stopwatch icon"
              class="_2ZiMnv"
            >
            <div>
              <h4>Save time (and your sanity)</h4>
              <div>
                <p>
                  The band goes on at 8 sharp. She’s the lead in the school play. You can’t be late for work. Again. Your time is your money. And having to tackle traffic and hunt for parking is a total pain. So
                  <strong>we’ll match you in seconds with a driver</strong>. And all you have to do is sit back and relax.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <img
              src="//images.ctfassets.net/q8mvene1wzq4/2FPW19ruOkcPtlmUfrJ1Wx/f5d9e6567ef0c2f4393d476208fced83/01-003-adventure_2x.png"
              alt="Adventure icon"
              class="_2ZiMnv"
            >
            <div>
              <h4>Adventure all day and night</h4>
              <div>
                <p>
                  Cities don’t sleep and, sometimes, you don’t either. No matter the hour, we’re here to get you there before last call, out of that suspect street, or straight home. Have peace of mind knowing you can always
                  <strong>request a Lyft ride 24/7</strong> — and share your route with friends.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="ways-to-get-there">
      <div class="container">
        <div class="way">
          <div class="d-flex flex-row ">
            <div class="col col-md-3 col-lg-2 mr-md-5">
              <img
                src="//images.ctfassets.net/q8mvene1wzq4/5Tkm1FxMqDlPfTNhwWHb6h/beb9e7b9451d9d05aae3e4645b9b54af/03-modes01_2x.png"
                alt="Lyft Shared ride illustration"
                class="_1rLEpE"
              >
            </div>
            <div class="col">
              <h3>Shared</h3>
              <h6></h6>
              <div>
                <p>Make the most of a car by sharing it with other riders.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="way">
          <div class="d-flex flex-row ">
                  <div class="col col-md-3 col-lg-2 mr-md-5">
              <img
                src="//images.ctfassets.net/q8mvene1wzq4/2DS1wcFwCBPt7BDZDnC2Wo/9610f0632ec7f06cae45d04e7e5c6c96/03-modes02_2x.png"
                alt="Lyft illustration of a car with an Amp in the windshield"
                class="_1rLEpE"
              >
            </div>
            <div class="col">
              <h3>Lyft</h3>
              <h6></h6>
              <div>
                <p>
                  A ride for any occasion:
                  <a href="/rider/airports">airports</a>, commute, and more.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="way">
          <div class="d-flex flex-row ">
                  <div class="col col-md-3 col-lg-2 mr-md-5">
              <img
                src="//images.ctfassets.net/q8mvene1wzq4/2AtXOCguvjUEhNmgrWlWlF/d1de044bc2f6d185f78df742c01e4865/03-modes03_2x.png"
                alt="Lyft Lux car illustration with an Amp in the windshield"
                class="_1rLEpE"
              >
            </div>
            <div class="col">
              <h3>Lyft Lux</h3>
              <h6></h6>
              <div>
                <p>A premium experience for those extra-special events.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="way">
          <div class="d-flex flex-row ">
                  <div class="col col-md-3 col-lg-2 mr-md-5">
              <img
                src="//images.ctfassets.net/q8mvene1wzq4/5pTeGZI9LrEHnDQALeHSrs/f65ce503cfad2fa5ecef04aa5b9708a9/03-modes05_2x.png"
                alt="Lyft Bikes and Lyft Scooters illustration"
                class="_1rLEpE"
              >
            </div>
            <div class="col">
              <h3>Bikes &amp; Scooters</h3>
              <h6></h6>
              <div>
                <p>
                  You can start even more trips with Lyft
                  <a href="/bikes">bikes</a> and
                  <a href="/scooters">scooters</a>.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="way">
          <div class="d-flex flex-row ">
                  <div class="col col-md-3 col-lg-2 mr-md-5">
              <img
                src="//images.ctfassets.net/q8mvene1wzq4/6uhGufB2Lt55HbAx6M4TbY/baacbbcb5c153a7f2d8387852fbbebfc/03-modes04_2x.png"
                alt="Lyft Transit: Illustration of a city bus"
                class="_1rLEpE"
              >
            </div>
            <div class="col">
              <h3>Transit</h3>
              <h6></h6>
              <div>
                <p>See nearby ferry, bus, and train schedules right in the Lyft app.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Hero from "@/components/Hero.vue";
import Quote from "@/components/Quote.vue";
import MainNav from '@/components/MainNav.vue';

export default {
  components: {
    Hero,
    Quote,
    MainNav
  }
};
</script>

<style lang="scss" scoped>
.why {

  [class|="col"] {
    margin-bottom: 1.5rem;
    img {
      max-width: 100%;
      margin-bottom: 1.5rem;
    }
  }
}

.way {
    border-bottom: 1px solid #F3F3F5;
    padding: 2.5rem 0;

    img {
      max-width: 100%;
    }
    p {
      margin-bottom: 0;
    }
}
</style>
