<template>
  <div>
    <!-- <MainNav/> -->

    <Hero/>
    

    <section class="overflow-hidden py-5">
      <div class="container">
        <div class="d-flex flex-column-reverse flex-md-row align-items-center">
          <div class="col text-center mb-5" style="order:2">
            <img
              src="//images.ctfassets.net/q8mvene1wzq4/3kye3KvqYR13Vmsx2VMqyo/002bd8e30a8a26343846bf3bd2335e07/DL_car.png"
              alt="A car"
            >
          </div>
          <div class="col-9" style="order:1">
            <div class="row">
              <div class="col-lg mb-4">
                <div>
                  <h4>Trabaja cuando quieras</h4>
                  <div>
                    <p>
                      Se tu propio jefe. Elige tu horario de trabajo, zona de cobertura y los tipos de trabajos que te gustarían
                      realizar. Planifica y realiza según tu disponibilidad.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg mb-4">
                <div>
                  <h4>Gana más dinero</h4>
                  <div>
                    <p>
                      Konfor te permite ganar dinero del que puedes depender. Aumenta tus ingresos haciendo lo que sabes
                      hacer. Cobra tus servicios cada semana vía transferencia bancaria.
                    </p>
                    <p></p>
                  </div>
                </div>
              </div>
              <div class="col-lg">
                <div>
                  <h4>Realiza tus servicios a tiempo</h4>
                  <div>
                    <p>
                      No más atrasos para realizar tus trabajos. Con Konfor los materiales y equipos que requieras serán
                      llevados hacia ti sin retrasos ni preocupaciones.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="ways-to-get-there">
      <div class="container">
        <div class="way">
          <div class="row flex-row">
            <div class="col col-md-3 col-lg-4 mr-md-5">
              <img
                src="../assets/img/GasPlumbing.jpg"
                alt="Lyft Shared ride illustration"
                class="_1rLEpE"
              >
            </div>
            <div class="col">
              <h3>Plomeria</h3>
              <h6></h6>
              <div>
                <p>
                  Instalar inodoros, bañeras, Lava manos, corregir
                  escapes de agua etc
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="way">
          <div class="row flex-row">
            <div class="col col-md-3 col-lg-4 mr-md-5">
              <img
                src="../assets/img/Electrical2.jpg"
                alt="Lyft illustration of a car with an Amp in the windshield"
                class="_1rLEpE"
              >
            </div>
            <div class="col">
              <h3>Electricista</h3>
              <h6></h6>
              <div>
                <p>Instalar equipos, Generadores, Restaurar electricidad etc.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="way">
          <div class="row flex-row">
            <div class="col col-md-3 col-lg-4 mr-md-5">
              <img
                src="../assets/img/Appliances.jpg"
                alt="Lyft Lux car illustration with an Amp in the windshield"
                class="_1rLEpE"
              >
            </div>
            <div class="col">
              <h3>Electrodomésticos</h3>
              <h6></h6>
              <div>
                <p>Instalar Pantallas, lavadoras, etc</p>
              </div>
            </div>
          </div>
        </div>
        <div class="way">
          <div class="row flex-row">
            <div class="col col-md-3 col-lg-4 mr-md-5">
              <img
                src="../assets/img/Painter.jpg"
                alt="Lyft Bikes and Lyft Scooters illustration"
                class="_1rLEpE"
              >
            </div>
            <div class="col">
              <h3>Pintura</h3>
              <h6></h6>
              <div>
                <p>Pintura profesional de interiores, objetos y superficies etc.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="way">
          <div class="row flex-row">
            <div class="col col-md-3 col-lg-4 mr-md-5">
              <img
                src="../assets/img/Jardineria.jpg"
                alt="Lyft Transit: Illustration of a city bus"
                class="_1rLEpE"
              >
            </div>
            <div class="col">
              <h3>Jardineria</h3>
              <h6></h6>
              <div>
                <p>Recorte de gramas etc</p>
              </div>
            </div>
          </div>
        </div>

        <div class="way">
          <div class="row flex-row">
            <div class="col col-md-3 col-lg-4 mr-md-5">
              <img
                src="../assets/img/Mosquito.jpg"
                alt="Lyft Transit: Illustration of a city bus"
                class="_1rLEpE"
              >
            </div>
            <div class="col">
              <h3>Exterminador/Control de pestes</h3>
              <h6></h6>
              <div>
                <p>
                  Fumigación, remover animales, exterminar mosquitos,
                  abejas etc
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="way">
          <div class="row flex-row">
            <div class="col col-md-3 col-lg-4 mr-md-5">
              <img
                src="../assets/img/TransportMat.jpg"
                alt="Lyft Transit: Illustration of a city bus"
                class="_1rLEpE"
              >
            </div>
            <div class="col">
              <h3>Transporte de materiales</h3>
              <h6></h6>
              <div>
                <p>
                  Todo material necesario para una obra debe ser transportado
                  desde la ferretería hasta el lugar del trabajo
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="way">
          <div class="row flex-row">
            <div class="col col-md-3 col-lg-4 mr-md-5">
              <img
                src="../assets/img/AC.jpg"
                alt="Lyft Transit: Illustration of a city bus"
                class="_1rLEpE"
              >
            </div>
            <div class="col">
              <h3>HVAC/Aires</h3>
              <h6></h6>
              <div>
                <p>Instalar, reemplazar y reparar todo tipo de aires simple y centrales</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- <Quote/> -->
  </div>
</template>

<script>
import Hero from "@/components/Hero.vue";
import Quote from "@/components/Quote.vue";
import MainNav from "@/components/MainNav.vue";
import Checkbox from "@/components/Checkbox.vue";

export default {
  components: {
    Hero,
    Quote,
    MainNav,
    Checkbox
  }
};
</script>

<style lang="scss" scoped>

img[alt="A car"] {
  max-height: 30rem;
  @media (max-width: 767px) {
    max-width: 100%;
  }
}

.quote {
  background: #f3f3f5;
}

ol {
  font-size: 2rem;
  li {
    margin-bottom: 1.7rem;
  }
}
</style>
