<template>
  <div>
    <Hero message="COMIENZA A OBTENER GANANCIAS EN LA CIUDAD DE SANTO DOMINGO" />
    
    <div class="container mt-5">
      <img src="../assets/img/map.png" style="width:100%; object-fit:cover">
    </div>
    
    <div class="container py-5">
      <div class="row">
        <div class="col-md-4"> 
          <h4 class="text-primary">Region 1</h4> 
          <p>La region uno cúbre el DN comenzando desde Agora Mall y se expande unos 7 kilometros en todas direcciones) *We may show a list of different sectors with bullet  points</p>
        </div>
        
        <div class="col-md-4">
          <h4 class="text-success">Region 2</h4> 
          <p>La region 2 cúbre Santo Domingo Este comenzando desde Mega Centro y se expande unos 7 kilometros en todas direcciones</p>
        </div>
        
        <div class="col-md-4">
          <h4 style="color: tomato">Region 3</h4>
          <p>La region 3 cúbre el Santo Domingo Norte comenzando desde Name a place y se expande unos 7 kilometros en todas direcciones) *We may show a list of different sectors with bullet  points</p>
        </div>
      </div>
    </div>

    <div class="container">
      <p>Tal vez para hacer un ingreso extra, conocer personas nuevas o tomar el control de tu negocio, Konfor esta para ayudarte a lograr tus objetivos. La app de Konfor Prestador te conecta con clientes de tu ciudad y te permite generar ingresos cuando lo necesites. Cuando finalizan los servicios, los clientes pagan a través de la app y el dinero se transfiere a tu cuenta de banco. Es así de sencillo. </p>

      <br>
      <h4>Por que usar los servicios de Konfor en Santo Domingo? </h4>
      <p>Contrata a los mejores prestadores de servicio tu ciudad. ¿Tienes un inodoro tapado? ¿Necesitas reparar tu aire acondicionado? ¿Instalar una nevera o estufa? Crea una cuenta de Konfor y tu prestador de servicio estará en tu ubicación en instantes. No te preocupes si debes irte rápidamente. Puedes reagendar sin penalidad siempre y cuando nos dejes saber 24 horas antes del inicio de tu servicio.</p>

      <p>Konfor es conveniente. Nuestro sitio web para tu empresa o nuestra app para tu hogar permite que solicites, pagues y monitorees tus servicios desde cualquier lugar. Agenda una asesoría o reparación solo en segundos.</p>

      <p>Tu satisfacción  es   nuestra   meta .   Cada   servicio   o   producto   comprado   por   Konfor   esta  respaldado por la Garantía Konfor, lo que significa que, si no te gusta lo que ves, trabajaremos para solucionarlo.</p>

      <p>Los servicios solicitados por Konfor son simples, fácil de contratar y trabajar a tu horario. No te preocupes por proveer materiales o equipamientos para el trabajo. Nuestros proveedores de servicio vienen con sus propios equipamientos y nuestra red local de ferreterías se aseguran de que conseguir los mejores precios y calidad de materiales con el fin de hacer tu vida más fácil. Tu prestador de servicio ha sido vetado y tiene una excelente calificación. Lo hacemos con el fin de que no tengas un completo extraño entrando a tu hogar. Tu seguridad es nuestra prioridad.</p>

      <br>
      <h5>Quienes pueden usar Konfor para los servicios de mantenimiento?</h5>
      <p>Konfor está aquí para todos. Puede que te estés mudando, comprando electrodomésticos o necesitas realizar reparaciones en tu negocio u hogar. Evita la larga espera de encontrar el prestador ideal para brindar el soporte que necesitas. Estamos aquí para resolver tus problemas en segundos en todo el Gran Santo Domingo. </p>
      <br>
    </div>
  </div>
</template>

<script>
import Hero from "@/components/Hero.vue";
import Quote from "@/components/Quote.vue";
import MainNav from '@/components/MainNav.vue';

export default {
  components: {
    Hero,
    Quote,
    MainNav
  }
};
</script>

<style lang="scss" scoped>
.why {

  [class|="col"] {
    margin-bottom: 1.5rem;
    img {
      max-width: 100%;
      margin-bottom: 1.5rem;
    }
  }
}

.way {
    border-bottom: 1px solid #F3F3F5;
    padding: 2.5rem 0;

    img {
      max-width: 100%;
    }
    p {
      margin-bottom: 0;
    }
}
</style>
