<template>
  <div>
    <!-- <MainNav/> -->

    <section class="hero" style="styles">
      <div class="container py-5">
        <div class="col-lg-11 py-5">
          <h1>Se tu propio jefe</h1>
          <form class>
            <div class="d-flex flex-column flex-md-row align-items-md-center">
              <div class="mb-3 mb-md-0">
                <a href="#prestador"  class="button button--primary hero__button mr-4">REGISTRATE</a>
              </div>
              <!-- <Checkbox>I agree to Lyft's <a href="/terms">Terms of Service</a></Checkbox> -->
            </div>
          </form>
        </div>
      </div>
    </section>

    <section class="overflow-hidden py-5">
      <div class="container">
        <div class="d-flex flex-column-reverse flex-md-row align-items-center">
          <div class="col text-center mb-5" style="order:2">
            <img
              src="//images.ctfassets.net/q8mvene1wzq4/3kye3KvqYR13Vmsx2VMqyo/002bd8e30a8a26343846bf3bd2335e07/DL_car.png"
              alt="A car" >
          </div>
          <div class="col-9" style="order:1">
            <div class="row">
              <div class="col-lg mb-4">
                <div>
                  <h4>Trabaja cuando quieras</h4>
                  <div>
                    <p>
                      Se tu propio jefe. Elige tu horario de trabajo, zona de cobertura y los tipos de trabajos que te gustarían
                      realizar. Planifica y realiza según tu disponibilidad.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg mb-4">
                <div>
                  <h4>Gana más dinero</h4>
                  <div>
                    <p>
                      Konfor te permite ganar dinero del que puedes depender. Aumenta tus ingresos haciendo lo que sabes
                      hacer. Cobra tus servicios cada semana vía transferencia bancaria.
                    </p>
                    <p></p>
                  </div>
                </div>
              </div>
              <div class="col-lg">
                <div>
                  <h4>Realiza tus servicios a tiempo</h4>
                  <div>
                    <p>
                      No más atrasos para realizar tus trabajos. Con Konfor los materiales y equipos que requieras serán
                      llevados hacia ti sin retrasos ni preocupaciones.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="container pb-5">
      <h2 class="h3">¿COMO FUNCIONA KONFOR? </h2>

      <ul>
        <li>Paso 1. Aplica para realizar servicio y obtén tu activación </li>
        <li>Paso 2. Descarga la app  </li>
        <li>Paso 3. Acepta servicios y gana dinero </li>
        <li>Paso 4. Cobra todas las semanas con Konfor Pay. </li>
      </ul>
      
      <br><br>
      <h4>¿COMO REALIZAR SERVICIOS CON KONFOR? </h4>
      <p>Para poder prestar servicios a través de Konfor debes poder cumplir con los siguientes</p>

      <br>
      <h5>Requisitos</h5>
      <ul>
        <li> Ser mayor de 18 años o más</li>
        <li> Ver el video de entrenamiento</li>
      </ul>
      <h5>Documentos</h5>
      <ul>
        <li> Cédula de identidad electoral</li>
        <li> Título o validación de competencias de alguna institución de enseñanzas técnicas o universitaria dentro del área técnica que desea realizar a través de Konfor</li>
      </ul>

      <h5>En caso de prestar servicios de transportación:</h5>
      <ul>
        <li> Licencia de Conducir</li>
        <li> Seguro Automóvil</li>
        <li> Fotos del Vehículo</li>
        <li> Foto placa del Vehículo</li>
      </ul>

      <h5>Empieza a trabajar</h5>
      <ul>
        <li> <a href="prestador">Regístrate aquí</a></li>
        <li> Completa la prueba</li>
        <li> Comparte algunos documentos</li>
        <li> Pasa por nuestras oficinas</li>
        <li> Activa tu cuenta</li>
      </ul>
    </section>

    

    <!-- <Quote/> -->
  </div>
</template>

<script>
import Hero from "@/components/Hero.vue";
import Quote from "@/components/Quote.vue";
import MainNav from "@/components/MainNav.vue";
import Checkbox from "@/components/Checkbox.vue";

export default {
  components: {
    Hero,
    Quote,
    MainNav,
    Checkbox
  }
};
</script>

<style lang="scss" scoped>
img[alt^="Lyft"] {
  max-width: 100%;
}
img[alt="A car"] {
  max-height: 30rem;
  @media (max-width: 767px) {
    max-width: 100%;
  }
}

.quote {
  background: #f3f3f5;
}

ol {
  font-size: 2rem;
  li {
    margin-bottom: 1.7rem;
  }
}
</style>
