<template>
  <div>
    <Hero message="La manera más rápida y simple de llevar tus productos a los clientes" />

    <section class="overflow-hidden py-5">
      <div class="container">
        <div class="d-flex flex-column-reverse flex-md-row align-items-center">
          <div class="col text-center mb-5" style="order:2">
            <img
              src="//images.ctfassets.net/q8mvene1wzq4/3kye3KvqYR13Vmsx2VMqyo/002bd8e30a8a26343846bf3bd2335e07/DL_car.png"
              alt="A car" >
          </div>
          <div class="col-9" style="order:1">
            <div class="row">
              <div class="col-lg mb-4">
                <div>
                  <h4>Aumenta tus ventas</h4>
                  <div>
                    <p>
                      Konfor genera un impacto en tu negocio. Al momento de que tu inventario se muestra en nuestra plataforma, clientes, empresas y prestadores de servicios descubren tu negocio y pueden comprar tus artículos más seguido. Estamos para ayudarte a aumentar tus ventas, disminuir tus gastos de publicidad y acompañarte al contratar nuevos empleados para soportar la demanda que brinda Konfor. 
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg mb-4">
                <div>
                  <h4>Entrega más rápido</h4>
                  <div>
                    <p>
                      Konfor es la manera más rápida para vender y repartir inventario a tus clientes. Con nuestra red de repartidores, puedes entregar los productos con seguridad y garantía. Ademas, le puedes dar seguimiento desde tu negocio hasta las manos de tu cliente.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg">
                <div>
                  <h4>Asóciate con profesionales</h4>
                  <div>
                    <p>
                      Cuando formas parte de Konfor. Te apoyamos en cada parte del proceso. Desde el registro, ingresar tus productos en nuestra plataforma y trabajamos para mejorar el tiempo de entrega y espera de los productos. Trabajaremos continuamente para incrementar los volúmenes de ventas y garantizar que no haya problemas con la orden.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="container">
      <h4>¿COMO FUNCIONA KONFOR? </h4>
      <ul>
        <li>Paso 1. Aplica para recibir órdenes y obtén tu activación </li>
        <li>Paso 2. Agrega productos </li>
        <li>Paso 3. Acepta servicios y gana dinero </li>
        <li>Paso 4. Cobra todas las semanas con Konfor Pay </li>
      </ul>
      
      <br><br>
      <h4>¿COMO VENDER PRODUCTOS CON KONFOR?</h4>
      <p>Para poder vender tu inventario a través de Konfor debes poder cumplir con los siguientes requisitos: </p>

      <br>
      <h5>Requisitos</h5>
      <ul>
        <li> Realizar operaciones en local</li>
        <li> Estar constituido legalmente</li>
      </ul>
      <h5>Documentos</h5>
      <h6>Como Empresas</h6>
      <ul>
        <li> Copia de los Estatutos de la Compañía</li>
        <li> Copia Tarjeta RNC</li>
        <li>Lista de suscriptores y/o Nómina de Accionistas</li>
        <li>Acta de Asamblea actualizada</li>
        <li>Copia de Cédula del Presidente</li>
        <li>Copia de Estado de Cuenta Bancaria a depositar transacciones </li>
        <li>Registro Mercantil actualizado</li>
        
      </ul>
      <h6>Como Persona Física</h6>
      <ul>
        <li>Cédula de Identidad Personal (RNC personal)</li>
        <li>Estado de Cuenta Bancaria a depositar transacciones</li>
        <li>Contrato de Alquiler o Título de Propiedad</li>
      </ul>

      <h5>En caso de prestar servicios de transportación:</h5>
      <ul>
        <li> Licencia de Conducir</li>
        <li> Seguro Automóvil</li>
        <li> Fotos del Vehículo</li>
        <li> Foto placa del Vehículo</li>
      </ul>

      <h5>Empieza a trabajar</h5>
      <ul>
        <li> <a href="prestador">Regístrate en línea</a></li>
        <li> Comparte algunos documentos</li>
        <li> Recibe una visita de uno de nuestros representantes </li>
        <li> Activa tu cuenta</li>
      </ul>
    </div>
    
  </div>
</template>

<script>
import Hero from "@/components/Hero.vue";
import Quote from "@/components/Quote.vue";
import MainNav from "@/components/MainNav.vue";

export default {
  components: {
    Hero,
    Quote,
    MainNav
  }
};
</script>

<style lang="scss" scoped>

img[alt="A car"] {
  max-height: 30rem;
  @media (max-width: 767px) {
    max-width: 100%;
  }
}
</style>
