<template>
    <div>
        <Hero message="Las soluciones de tu hogar en la palma de tu mano" />

        <section class="overflow-hidden py-5">
            <div class="container">
                <div class="d-flex flex-column-reverse flex-md-row align-items-center">
                <div class="col text-center mb-5" style="order:2">
                    <img
                    src="//images.ctfassets.net/q8mvene1wzq4/3kye3KvqYR13Vmsx2VMqyo/002bd8e30a8a26343846bf3bd2335e07/DL_car.png"
                    alt="A car" >
                </div>
                <div class="col-9" style="order:1">
                    <div class="row">
                    <div class="col-lg mb-4">
                        <div>
                        <h4>Disponibilidad y Entrega a Tiempo </h4>
                        <div>
                            <p>
                            Konfor te conecta a una vasta red de prestadores de servicios independientes, lo que significa que, al momento de solicitar un servicio, encontraras prestadores disponibles a tu horario seleccionado. Además, con Konfor, todos los servicios tienen una hora de inicio y termino así que tus trabajos son entregados en el tiempo establecido. 
                            </p>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg mb-4">
                        <div>
                        <h4>Calidad y Garantía</h4>
                        <div>
                            <p>
                            Con la app de Konfor, contrata prestadores de servicio independientes vetados con experiencia, con ratings y comentarios de clientes. Con Konfor todos los servicios o productos comprado por Konfor están respaldado por la Garantía Konfor, lo que significa que si no te gusta lo que ves, trabajaremos para solucionarlo. 
                            </p>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg">
                        <div>
                        <h4>Claridad en precios</h4>
                        <div>
                            <p>
                            Evita sorpresas. Con Konfor puedes seleccionar servicios con precio del mercado preestablecido. En caso de no saber que servicio requieres, solicita una asesoría y recibe un reporte completo y desglose de costos de labor, transporte de materiales y materiales a utilizar.
                            </p>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </section>

        <div class="container">
            <h4>COMO FUNCIONA KONFOR  </h4>
            <p>Konfor es la manera más fácil, conveniente y segura de contratar servicios de manteniendo y reparación para tu hogar y empresa en tan solo segundos.</p>

            <h4>Busca</h4>
            <p>Con Konfor puedes buscar los servicios de mantenimiento y reparación que hogar o empresa necesita. Al momento de abrir la app, busca el servicio que requieres. Cuando lo encuentres tócalo y completa breve preguntas.</p>

            <h4>Contrata al instante</h4>
            <p>Cuando estés listo para pagar, podrás ver tu dirección, la hora de llegada del prestador, el precio del servicio y materiales con los impuestos y costos de envío incluidos. Si toda la información es correcta, toca ordenar. Cobraremos la orden automáticamente a la tarjeta de crédito, así no necesitaras efectivo.</p>

            <h4>Sigue tu servicio</h4>
            <p>Sigue tu servicio en tiempo real. Al usar nuestra app, veras a un socio prestador aceptar el trabajo. Podrás tener acceso a información del prestador como su foto de perfil, valoración y comentario de clientes. Antes de iniciar el servicio podrás ver al prestador acercándose a la ubicación donde se realizará el servicio. Podrás ver de donde provienen los materiales y saber cual es el tiempo estimado del servicio. Podrás ver el progreso del servicio, al momento de tener el servicio funcionalizado recibirás una notificación de servicio completado.</p>
        </div>

    </div>
</template>

<script>
import Hero from "../components/Hero";
export default {
    components: {
        Hero,
    }
}
</script>

<style>

</style>
