<template>
  <div class="checkbox">
    <label for="tos">
      <input type="checkbox" id="tos" required name="tos" value>
      <div style="width:34px;height:34px" class="circle">
        <svg
          fill="currentColor"
          preserveAspectRatio="xMidYMid meet"
          height="17px"
          width="17px"
          viewBox="0 0 500 500"
          class="_3TbDet"
          style="vertical-align:middle" >
          <g>
            <path d="M66.36 186.62L0 252.42l186.924 188.515L500 124.755 433.593 59 186.878 308.162z"></path>
          </g>
        </svg>
      </div>

      <div>
        <p>
          <slot></slot>
        </p>
      </div>
    </label>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>

</style>
