<template>
  <section class="overflow-hidden">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col mr-5">
          <div class="_1-nG3k" data-e2e="homepage-form">
            <div class="_2SxEY7 _1JZwt9">
              <div class="_2A-Wi2">
                <div class="fzEL0d _2MWRbD">
                  <h1 class="_37Ak9H">{{ message }}</h1>
                </div>
              </div>
              <form>
                <div class="_2A-Wi2 _1-rBRN">
                  <div class="_3ktJWF fzEL0d _29yR8i">
                    <!-- <input class="textbox" data-e2e="phone-input" placeholder="Ingresa tu numero" minlength="10" required name="phone" type="tel" value> -->
                  </div>
                  <div class="mt-5 mb-3">
                    <label class="_1uRewR _15Xoeu _1xOcLO" for="tos">
                      <div class="_3yRYQA" style="">
                        <!-- <Checkbox>Aceptar nuestros terminos y condiciones</Checkbox> -->
                      </div>
                    </label>
                  </div>
                </div>
                <div class="_2A-Wi2 _2-WgW1">
                  <div class="fzEL0d _1cq_mV AyubCV">
                    <button
                      type="submit"
                      class="button button--primary"
                      data-e2e=""
                    >REGISTRATE</button>
                    <a></a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-4 ml-4">
          <img
            data-e2e="homepage-image"
            src="//images.ctfassets.net/oqn5qhpsy9i3/6AIwJ8YmNqkooaswSaCyge/603c7dde0af5066ef7fa991352f43bd1/HP_car2.png?h=400"
            alt="Earn with Lyft"
            class="_86DRE2"
          >
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Checkbox from '@/components/Checkbox.vue';

export default {
    components: {
        Checkbox,
    },

    props: {
      message: String,
    },
    
};
</script>

<style lang="scss" scoped>
section {
    min-height: 100vh;
    background-color: #9BE5F3 !important;
    display: flex;
    padding-bottom: 3rem;
    padding-top: 8rem;
    align-items: center;

    [class|="col"] {
      margin-top: 10px;
    }
}

    h1 {
            color: #1850A5;
            font-weight: 600;
              font-size: 3.5rem;


    }
</style>
