<template>
  <section class="hero" style="styles">
      <div class="container py-5">
        <div class="col-lg-11 py-5">
          <h1>{{ message || 'Se tu propio jefe' }}</h1>
          <form class>
            <div class="d-flex flex-column flex-md-row align-items-md-center">
              <div class="mb-3 mb-md-0">
                <button type="submit" class="button button--primary hero__button mr-4">REGISTRATE</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
</template>

<script>
import Checkbox from '@/components/Checkbox.vue';

export default {
    components: {
        Checkbox,
    },
    props: {
        background: String,
        message: String,
    },

    computed: {
        styles: function() {
            return {
                'background': this.background
            }
        }

    }
};
</script>

<style <style lang="scss" scoped>

</style>
