<template>
  <div class="intro">
    <section>
      <div class>
        <div class>
          <div class="call2action d-flex d-lg-none">
            <button 
              class="button button--primary driver-button" 
              @click="$emit('hero', 'Agarra tus herramientas y gana mas desde ahora')"
            >
              ÚNETE COMO PRESTADOR
            </button>
            
            <button 
              class="button button--primary driver-button" 
              type="button" 
              @click="$emit('hero', 'Cada servicio de Konfor requiere de materiales disponibles en la misma zona, Úne tu inventario y expande tus ventas ya!')"
            >
              ÚNE TU fERRETERIA
            </button>
          </div>
        </div>
        <div class="video">
          <div class="video__bg" style="background: url(//images.ctfassets.net/oqn5qhpsy9i3/5WsbbyGkOyIx7acqp3sZzN/9c5f2b3b0a9f9c14a5aeb5fb94d26540/previewMobile.jpg) center center / cover no-repeat;">
            <video autoplay loop playsinline>
              <source src="https://videos.ctfassets.net/oqn5qhpsy9i3/4LypTYVmrxLn9Vb9STV3Dk/25ca5ef44ed32fdf87fd8670b160eb03/desktop4.mp4" type="video/mp4">
            </video>
          </div>
        </div>
      </div>
    </section>

    <section class="why" >
      <div class="container d-flex justify-content-between align-items-center" >
          <button class="bordered button button--primary driver-button d-none d-lg-block" @click="$emit('hero', 'prestador')">ÚNETE COMO PRESTADOR </button>
          <button class="bordered button button--primary driver-button d-none d-lg-block" @click="$emit('hero', 'distribuidor')">ÚNETE COMO DISTRIBUIDOR </button>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  components: {
  }
}
</script>


<style lang="scss" scoped>
.intro {
  display: flex;
  height: 100vh;
  min-height: 600px;
  flex-direction: column;


  }


    section:first-child {
      position: relative;
      flex: 2;
    }
  
    .call2action {
      position: absolute;
      width: 100%;
      bottom: 2rem;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      left: 0;
      z-index: 100;
  
      .driver-button {
        margin: 2rem auto;
  
      }

      .rider-button {
        font-size: 1rem;
        font-weight: 600;
        text-decoration: underline;
        color: #FFFFFF;
          cursor: pointer;
          background: transparent;
          border: none;
          box-shadow: none;
      }
    }
  .video {
    
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    .video__bg {
      height: 100%;
      width: 100%;
      overflow: hidden;
      display: flex;
      z-index: 0;

      video {
        min-height: 100%;
        min-width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
        flex: 1;
      }
    }
  }


section:last-child {
      padding: 16px 0;
      align-items: center;



      a {
        font-weight: 600;
      }

}
</style>
