<template>
  <nav :class="classes">
    <div class="container d-flex justify-content-between align-items-center">
      <div class="navbar__logo">
        <router-link to="/">

          <img v-if="fixed" src="../assets/svg/logo-secondary-mono-white.svg" width="150" alt="Konfor's logo"/>
          <img v-else src="../assets/svg/logo-primary-color.svg" height="46" alt="Konfor's logo"/>
          
        </router-link>
      </div>
      <div class="navbar__navigation d-flex justify-content-end flex-grow-1 align-items-center">
        <a href="/usuario" class="button button--alt button--reduced">Descarga la app</a>
        <a href="#" class="navbar__toggle ml-4" @click="toggleNav">
          <svg fill="currentColor" preserveAspectRatio="xMidYMid meet" height="1.5rem" width="1.5rem" viewBox="0 0 24 24" style="vertical-align:middle;"><g><path d="M2 4h20v2H2V4zm0 7h20v2H2v-2zm0 7h20v2H2v-2z"></path></g></svg>
        </a>

        <ul>
          
          <li>
            <a href="/">
              <strong>DISTRIBUIDOR</strong>
            </a>
          </li>
          <li>
            <a href="/">
              <strong>EMPRESARIAL</strong>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="navbar__menu" :class="{show:showNav}">
      <div class="container  d-flex  flex-column h-100 pt-4">
        <div class="d-flex justify-content-between align-items-center">
          <router-link to="/">
            <img src="../assets/svg/logo-secondary-mono.svg" width="150"/>
          </router-link>
          <button v-on:click="toggleNav" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          <ul>
            <li>
              <a href="/">Dristribuidor</a>
            </li>
            <li>
              <a href="/">Empresarial</a>
            </li>
            <li>
              <a href="/">Ayuda</a>
            </li>
            
          </ul>
          <a href="/usuario" class="button button-reduced button--alt">Descarga la app</a>
      </div>

    </div>
  </nav>
</template>

<script>
export default {
  name: "MainNav",
  props: {
    fixed: Boolean,
    route: Object,
  },
  data: function() {
      return {
        showNav: false,
      }
  },
  methods: {
    toggleNav(event) {
      event.preventDefault()
      this.showNav = !this.showNav;
    }
  },

  computed: {
    classes: function () {
      return {
        'navbar': true,
        'navbar--fixed': this.fixed,
      }

    }

  },

  watch: {
    $route: function () {
      this.showNav = false;
    }
  }
};
</script>

