<template>
  <footer class="footer">
      <section class="container mb-3">
        <div class="row justify-content-between flex-column flex-lg-row">
          <nav class="col-lg-8  menu d-flex flex-column align-items-center flex-md-row align-items-md-start mb-5" >
            <section class="col ">
                <header class="d-flex justify-content-between" @click="accordion($event.target)">
                    <h6>PRESTADOR</h6>
                    <fa icon="angle-down" size="lg"/>
                </header>                  
                <ul>
                  <li>
                    <a href="/prestador" class="_14iJZN">Ser un Prestador</a>
                  </li>
                  <li>
                    <a href="/regiones" class="_14iJZN">Regiones</a>
                  </li>
                  <li>
                    <a href="/requisitos" class="_14iJZN">Requerimientos</a>
                  </li>
                </ul>
            </section>
            
            <section class="col">
              <header class="d-flex justify-content-between" @click="accordion($event.target)">
                <h6 class="_2FnsAb _2a5Na8">DRISTRIBUIDOR</h6>
                
                    <fa icon="angle-down" size="lg"/>
              </header>
                <ul class="_1S3yUg _2a5Na8">
                  <li>
                    <a href="/distribuidor" class="_14iJZN">Ser un Distribuidor</a>
                  </li>
                  <li>
                    <a href="/careers" class="_14iJZN">Requerimientos </a>
                  </li>
                  <li>
                    <a href="/self-driving-vehicles" class="_14iJZN">Aistencia </a>
                  </li>
                </ul>
            </section>
            
            <section class="col">
              <header class="d-flex justify-content-between" @click="accordion($event.target)">
                <h6 class="_2FnsAb _2a5Na8">USUARIOS</h6>
                  <fa icon="angle-down" size="lg"/>
              </header>

                <ul class="_1S3yUg _2a5Na8">
                  <li>
                    <a href="/usuario" class="_14iJZN">Personal/Hogar</a>
                  </li>
                  <li>
                    <a href="/empresarial" class="_14iJZN">Empresarial </a>
                  </li>
                  
                </ul>
            </section>

            <section class="col">
              <header class="d-flex justify-content-between" @click="accordion($event.target)">
                <h6 class="_2FnsAb _2a5Na8">KONFOR</h6>
                
                  <fa icon="angle-down" size="lg"/>
              </header>
                <ul class="_1S3yUg _2a5Na8">
                  <li>
                    <a href="/nosotros" class="_14iJZN">Sobre nosotros</a>
                  </li>
                  <li>
                    <a href="/carreras" class="_14iJZN">Carreras</a>
                  </li>
                  
          
                </ul>
            </section>
          </nav>

          <div class="col-lg-3 downloads d-flex flex-column align-items-center align-items-lg-start mb-5">
              <h6 >DESCARGA</h6>
              <div class="w-100 d-flex flex-column flex-lg-row align-items-center justify-content-lg-between ">
                <div class="mb-3 mr-2 mb-lg-0 ">
                  <a
                    target="_blank"
                    rel="noopener noreferrer"
                    href="https://itunes.apple.com/us/app/lyft-on-demand-ridesharing/id529379082?mt=8">
                    <img
                      alt="Download on the App Store"
                      src="//images.ctfassets.net/oqn5qhpsy9i3/N4a5Co3EacOoa8wEkWqKK/6e5473e99e0f5a687cd9d60ac12777d4/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg">
                  </a>
                </div>
                <div>
                  <a
                    target="_blank"
                    rel="noopener noreferrer"
                    data-tracking-category="app"
                    data-tracking-label="google-play"
                    href="https://play.google.com/store/apps/details?id=me.lyft.android"
                    style="width:11rem;height:auto">
                    <img
                      alt="Get it on Google Play"
                      src="//images.ctfassets.net/oqn5qhpsy9i3/hTf4CaMwGkUUKiEiSCSW8/c2a35ec61e7cb74e8d5a3a8603b3f6fe/google-play-badge.png"
                      class="_1Ewezc">
                  </a>
                </div>
              </div>
          </div>
        </div>
      </section>

      <section class="legal">
        <div class="container">
          <div class="d-flex justify-content-start justify-content-md-end flex-wrap">
            <ul class="mr-5">
              <li class="">
                <a href="/terms">Términos</a>
              </li>
              <li class="">
                <a href="/privacy">Privacidad</a>
              </li>
              <li class="">© 2019 Konfor, Inc.</li>
            </ul>
            <ul class="">
              <li class="_3viSbV _1IAyRk">
                <a href="">
                  <svg
                    fill="currentColor"
                    preserveAspectRatio="xMidYMid meet"
                    height="1em"
                    width="1em"
                    viewBox="0 0 500 500"
                    style="vertical-align:middle"
                  >
                    <g>
                      <path
                        d="M500 102.05c-18.397 7.81-38.165 13.09-58.918 15.463 21.18-12.153 37.447-31.4 45.104-54.331-19.82 11.254-41.771 19.426-65.14 23.83C402.337 67.928 375.677 56 346.173 56c-56.655 0-102.584 43.97-102.584 98.202 0 7.698.907 15.192 2.655 22.379-85.253-4.095-160.84-43.192-211.434-102.605-8.83 14.504-13.888 31.373-13.888 49.37 0 34.07 18.11 64.129 45.634 81.74-16.815-.509-32.633-4.928-46.463-12.283-.007.41-.009.82-.009 1.234 0 47.58 35.36 87.273 82.287 96.295a107.1 107.1 0 0 1-27.025 3.442c-6.612 0-13.037-.615-19.3-1.761 13.054 39.016 50.938 67.407 95.826 68.202-35.11 26.338-79.34 42.036-127.4 42.036-8.28 0-16.446-.464-24.471-1.37C45.399 428.742 99.318 445 157.248 445c188.685 0 291.863-149.638 291.863-279.41 0-4.259-.1-8.494-.296-12.705 20.04-13.846 37.432-31.142 51.185-50.836"
                      ></path>
                    </g>
                  </svg>
                </a>
              </li>
              <li class="_3viSbV _1IAyRk">
                <a href="">
                  <svg
                    fill="currentColor"
                    preserveAspectRatio="xMidYMid meet"
                    height="1em"
                    width="1em"
                    viewBox="0 0 500 500"
                    style="vertical-align:middle"
                  >
                    <g>
                      <path
                        d="M358.342 266.91L376 189.054h-94.645v-64.206c0-25.4 12.322-42.908 48.504-42.908L376 81.92V3.454C368.017 2.387 340.628 0 308.762 0c-66.527 0-105.584 39.771-105.584 114.851v74.203H125v77.856l78.178-.995V500h78.177V266.91h76.987z"
                      ></path>
                    </g>
                  </svg>
                </a>
              </li>
              <li class="_3viSbV _1IAyRk">
                <a href="">
                  <svg
                    fill="currentColor"
                    preserveAspectRatio="xMidYMid meet"
                    height="1em"
                    width="1em"
                    viewBox="0 0 500 500"
                    style="vertical-align:middle"
                  >
                    <g>
                      <path
                        d="M48.193 365.845c0 47.147 37.752 85.367 84.321 85.367h234.972c46.574 0 84.321-38.216 84.321-85.367v-231.69c0-47.147-37.752-85.367-84.321-85.367H132.514c-46.574 0-84.321 38.216-84.321 85.367v231.69zM132.514 0h234.972C440.67 0 500 60.063 500 134.155v231.69C500 439.937 440.68 500 367.486 500H132.514C59.33 500 0 439.937 0 365.845v-231.69C0 60.063 59.32 0 132.514 0zm253.028 250.037c0-74.098-59.336-134.166-132.53-134.166s-132.53 60.068-132.53 134.166 59.336 134.166 132.53 134.166 132.53-60.068 132.53-134.166zm-216.867 0c0-47.153 37.759-85.378 84.337-85.378s84.337 38.225 84.337 85.378-37.759 85.379-84.337 85.379-84.337-38.226-84.337-85.379zm216.867-103.674c16.635 0 30.12-13.652 30.12-30.492 0-16.84-13.485-30.492-30.12-30.492s-30.12 13.651-30.12 30.492c0 16.84 13.485 30.492 30.12 30.492z"
                      ></path>
                    </g>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          
        </div>
      </section>
    <!-- <div class="_2SxEY7 _2pjrDr">
    </div> -->
  </footer>
</template>

<script>
export default {
  methods: {
    accordion(target) {
      if (target.querySelector('svg').style.display !== 'none')
        target.classList.toggle('active');
    }
  }
};
</script>

