<template>
<section class="quote py-5">
    <div class="container py-5">
        <blockquote class="blockquote text-center">
            <p>“The quality of life that I get from working with Lyft is essential to doing the projects that I love.”</p>
            — <span> Ivette</span>
            <address>LA</address>
        </blockquote>
    </div>
</section>

</template>

<style lang="scss" scoped>
.quote {

    background: #F3F3F5;
}
</style>
