<template>
  <div id="app">
    <MainNav :fixed="isNavFixed"/>
    <router-view/>

    <MainFooter/>
  </div>
</template>

<script>
import MainNav  from "./components/MainNav.vue";
import MainFooter  from "./components/MainFooter.vue";

export default {
  name: 'App',
  components: {
    MainNav,
    MainFooter,
  },

  data: function() {
    return {
      isNavFixed: false,
    }
  },

  mounted: function (params) {
    console.log('Current route:', this.$route);
    this.isNavFixed = this.$route.name === 'home';
  },

  watch: {
    $route (to, from) {

      console.log(this.$route)
      if (to.name === 'home')
        this.isNavFixed = true;
      else 
        this.isNavFixed = false;
    }
  },
  
}
</script>

<style lang="scss">

</style>
